.hidden {
	display:none;
}
/* Inline list */
ul.inline-list {
	padding: 0;
	li {
		display:inline-block;
	}
}
h1 {
    font-size: 1.6em;
}
h2 {
	font-size: 1em;
}
h1, h2 {
    font-weight: 400;
}
.img-responsive {
	max-width: 100%;
	height: auto;
	display:block;
}
