nav {
	text-align:center;
	background: #252525;
	margin-top: 20px;
	li {
		  @media all and (max-width:321px) {
		  	display:block !important;
		  	text-align: left;
		  }
		  a {
		  	font-size: 1em;
		  	color:$link-color;
		  	text-transform:uppercase;
		  	position: relative;
		  	padding: 10px 15px;
		  	display: block;
		  	&:after {
		  	    content: "";
		  	    position: absolute;
		  	    left: 15px;
		  	    background: $link-color;
		  	    width: 0%;
		  	    bottom: 4px;
		  	    height: 2px;
		  	}
			&:hover, &.active {
				&:after {
					width: 40%;
				}
			}
			@media all and (min-width: 321px) {
					padding: 30px 15px;
					&:after {
					    bottom: 20px;
					}
			}
		  }
	}
}