.projects {
	margin-left: -10px;
	margin-right: -10px;
}
.project {
	// max-width: 400px;
	width: 100%;
	display: inline-block;
	margin-bottom:15px;
	padding: 0px 10px;
	box-sizing:border-box;
	a {
		color: $primary-color;
	}
	.details {
		padding: 10px;
		background-color: #FFF;
	}
	.subtitle {
		font-size: 13px;
		color: $secondary-text-color;
	}
	.tags {
		margin-top: 10px;
		span.tag {
		    background: $primary-color;
		    color: #fff;
		    padding: 5px;
		    font-size: 13px;
		}
	}
	@media all and (min-width: 650px) {
		width: 50%;
	}
	@media all and (min-width: 768px) {
		width: 33.3333333%;
	}
	img {
		max-width: 100%;
		height: auto;
		display: block;
	}
}