// bower:scss
// endbower
@import "_variables";
@import "_common";
@import "_navigation";
@import "_filters";
@import "_projects";
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
html {
  font-size: 14px;
  @media all and (min-width:360px) {
    font-size:16px;
  }
}
body {
  font-family:$primary-font-family;
  background-color: $primary-color;
  padding: 15px;
  a {
    text-decoration: none;
    color: $link-color;
    &:hover {
      text-decoration: none;
    }
  }
}
.content {
  max-width: 960px;
  margin: 0 auto;
}
.hero-unit {
  color: $text-color;
  text-align: center;
  img {
    max-width: 110px;
    border-radius: 50%;
    margin: 20px 0px;
  }
  h1 {
    margin-top: 0;
    font-weight: 400;
  }
  p.short-bio {
      font-size: 1.375em;
      color: $text-color;
  }
}
.social-icons {
  text-align: center;
  color: $link-color;
  margin-bottom: 20px;
  a:hover {
    color: darken($link-color, 20%);
  }
  .icon {
    max-width:24px;
    max-height:24px;
    margin-left: 15px;
  }
  .icon-twitter {
    fill: #55acee;
  }
}

header {
  h1 {
    color: #fff;
    font-weight: 400;
    margin: 20px 0px;
    padding-left: 10px;
    font-size: 1.6em;
  }
}


/** about.html **/
section.about, section.contact {
  padding: 20px;
  @media all and (min-width: 768px) {
    padding: 100px;
  }
  background-color: #fff;
  header h1 {
    margin-bottom:20px;
    padding-left: 0;
    color: #000;
    text-align:center;
  }
  p {
    margin: 0;
  }
}

/** Contact form **/
.contact-form {
  max-width: 600px;
  margin: 0 auto;
  input, textarea {
      margin-bottom: 20px;
      width: 100%;
      height: 42px;
      padding: 15px;
      max-width: 100%;
      font-size: 1em;
      max-height: 42px;
      box-sizing: border-box;
      resize: none;
  }
  textarea {
    height: 200px;
    display: block;
    max-height: 200px;
  }
 input.send {
    border: none;
    max-width: 150px;
    padding: 10px;
    cursor: pointer;
    background-color: $primary-color;
    color: #fff;
    &:hover {
      background-color: lighten($primary-color, 15%);
    }
  }
}