<div class="filters hidden">
  <ul class="inline-list hidden-xs">
    <li><a href="#" class="active">All</a></li>
    <li><a href="#">NodeJs</a></li>
    <li><a href="#">AngularJs</a></li>
    <li><a href="#">SpringMVC</a></li>
    <li><a href="#">Laravel</a></li>
  </ul>
</div>