<div class="hero-unit">
  <img src="images/profile.jpg" alt="Tekeste's face">
  <h1>Hi. I am Tekeste.</h1>
  <p class="short-bio">
    I am a full stack developer who likes to work with modern technologies
    like NodeJs, Angular, ReactJs, Spring MVC and Laravel.
  </p>
</div>
<div class="social-icons">
  <a href="http://twitter.com/iamtekeste">
    Resume
   <!--  <svg class="icon icon-twitter">
      <use xlink:href="images/svg/symbol-defs.svg#icon-twitter"></use>
    </svg> -->
  </a>
  /
  <a href="http://github.com/iamtekeste">

    Github
    <!-- <svg class="icon icon-github">
      <use xlink:href="images/svg/symbol-defs.svg#icon-github"></use>
    </svg> -->
  </a>
   / 
  <a href="http://twitter.com/iamtekeste">
    Twitter
   <!--  <svg class="icon icon-twitter">
      <use xlink:href="images/svg/symbol-defs.svg#icon-twitter"></use>
    </svg> -->
  </a>
</div>