<nav>
  <ul class="inline-list">
    <li><a href="/" class="{{#if active_home}}active{{/if}}">Projects</a></li>
    <li><a href="/about" class="{{#if active_about}}active{{/if}}">About</a></li>
    <li><a href="/contact" class="{{#if active_contact}}active{{/if}}">Contact</a></li>
  </ul>
</nav>