{{#section 'head'}}
	<title>About | Tekeste</title>
{{/section}}
<section class="about">
  <header>
    <h1>About me</h1>
  </header>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque odit iusto autem molestiae at expedita sequi sit, nemo aspernatur delectus maxime hic ullam, doloribus excepturi aut. Aspernatur ducimus, cupiditate vel?
  </p>
</section>