{{#section 'head'}}
	<title>Contact | Tekeste</title>
{{/section}}
<section class="contact">
  <header>
    <h1>Hello!</h1>
  </header>
  <form action="" class="contact-form">
    <input type="text" name="email" placeholder="Email">
    <input type="text" name="fullname" placeholder="Who should I call you?">
    <textarea name="message" placeholder="Your message"></textarea>
    <input type="submit" value="Send" class="send">
  </form>
</section>