{{#section 'head'}}
	<title>Contact | Tekeste</title>
{{/section}}
<section class="contact">
  <header>
    <h1>Hello!</h1>
  </header>
  <form action="/contact" class="contact-form" method="POST">
    <input type="email" name="email" placeholder="Email" required="">
    <input type="text" name="fullname" placeholder="Who should I call you?" required>
    <textarea name="message" placeholder="Your message" required></textarea>
    <input type="submit" value="Send" class="send">
  </form>
</section>