{{#section 'head'}}
	<title>Contact | Tekeste</title>
{{/section}}
<section class="contact">
  <header>
    <h1>Thank you!</h1>
  </header>
  <p>I will get back to you as soon as possible.</p>
</section>